@charset "utf-8";
/* CSS Document */

body{

    margin: 0px;
    padding: 0px;
}
.main-div{
    width:  1600px;
    float: left;
}
.header-main{

    height:  750px;

}
.header-wrapper1{
    height: 50px;
    background-color: #6f6bc0;
}
.hw-div1{
    width: 500px;
    float: left;

}

.header-wrapper2{
    height: 100px;
}
.logo-main{
    height: 90px;
    margin-left: 30px;
    
}
 .hw-div2 a{
    text-decoration:  none;
    color: #d16094;
    font-size: 25px;
    font-family:  'Times New Roman', Times, serif;
}
.hw-div2 a:hover{
     color: #6f6bc0;
     
     text-decoration: underline;
     text-decoration-color: #d16094;
    
   
}
.hw-div2 ul{
    list-style-type:none;
    
}
.hw-div2 ul li{
    display: inline;
}
.hw-div2 li{
   float: left;
   padding:  10px;
   margin-top: 20px;
   margin-left: 10px;
   
}
.header-wrapper3{
    height: 600px;
   background-image: url("../images/quran.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.hw3-content1{
    height: 100px;

}
.hw3-content2{
    height: 400px;
   
}
.hw3con2-div{
    background-color: #6f6bc0;
    opacity: 0.8;
    width: 800px;
   height: 100%;
}
.quotes1{
color: #fff;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 55px;
padding-left: 35px;
padding-top: 60px;
margin-bottom: 0px;
}
.quotes2{

margin-top: 13px;
color: #fff;
font-weight: bold;
font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 35px;
float: right;
margin-right: 15px;

}


.content-wrapper{
    height: 1000px;
   
}
.cw-section1{
    height: 500px;
    margin-top: 0px;
    
    
}
.cw-sec-content{
    height: 100px;
    text-align: center;
   margin: 0px;
   
   
}
.cw-sec-content p{
font-size: 45px;
 margin-top: 30px;
 color: #d16094;
 font-family: "Comic Sans MS", cursive, sans-serif;

}
.cw-sec-content2{

    height: 400px;
}
.whatweoffers{
height: 400px;
width: 280px;
float: left;
margin-left: 25px;
text-align: center;
box-shadow: 3px 3px 13px -3px grey;
border-left: 5px solid #d16094;

}
.whatweoffers img{
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px grey);

}
.whatweoffers p{
    font-size: 30px;
    color : #d16094;
}








