@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: urdufont;
    src: url("../font/AdobeArabic.woff");
}
body{

    margin: 0px;
    padding: 0px;
}
.main-div{
    min-width:  1600px;
    float: left;
}
.header-main{

    min-height:  150px;

}
.header-wrapper1{
    height: 50px;
    background-color: #6f6bc0;
}
.hw-div1{
    width: 500px;
    float: left;

}

.header-wrapper2{
    height: 100px;
}
.logo-main{
    height: 90px;
    margin-left: 30px;
    
}
 .hw-div2 a{
    text-decoration:  none;
    color: #d16094;
    font-size: 25px;
    font-family:  'Times New Roman', Times, serif;
}
.hw-div2 a:hover{
     color: #6f6bc0;
     
     text-decoration: underline;
     text-decoration-color: #d16094;
    
   
}
.hw-div2 ul{
    list-style-type:none;
    
}
.hw-div2 ul li{
    display: inline;
}
.hw-div2 li{
   float: left;
   padding:  10px;
   margin-top: 20px;
   margin-left: 10px;
   
}
.header-wrapper3{
    height: 600px;
   background-image: url("../images/quran.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.hw3-content1{
    height: 100px;

}
.hw3-content2{
    height: 400px;
   
}
.hw3con2-div{
    background-color: #6f6bc0;
    opacity: 0.8;
    width: 800px;
   height: 100%;
}
.quotes1{
color: #fff;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 55px;
padding-left: 35px;
padding-top: 60px;
margin-bottom: 0px;
}
.quotes2{

margin-top: 13px;
color: #fff;
font-weight: bold;
font-family:  urdufont;
font-size: 40px;
float: right;
margin-right: 15px;

}


.content-wrapper{
    min-height: 700px;
   
}
.cw-section1{
    height: 500px;
    margin-top: 0px;
    
    
}
.cw-sec-content{
    height: 100px;
    text-align: center;
   margin: 0px;
   
   
}
.cw-sec-content p{
font-size: 45px;
 margin-top: 30px;
 color: #d16094;
 font-family: "Comic Sans MS", cursive, sans-serif;

}
.cw-sec-content2{

    height: 400px;
}
.whatweoffers{
height: 400px;
width: 280px;
float: left;
margin-left: 25px;
text-align: center;
/*box-shadow: 3px 3px 13px -3px grey;
border-left: 5px solid #d16094; */

}
.whatweoffers img{
    margin-top: 30px;
    filter: drop-shadow(0px 4px 4px grey);

}
.whatweoffers p{
    font-size: 30px;
    color : #d16094;
}
.cw-section2{
    height: 500px;
    float: left;
   background-image: url("../images/enquiry.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.forenquiry1{
    height: 50px;
    width: 1600px;
    text-align: center;
    
}
.forenquiry1 p{
    font-size: 45px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #6f6bc0;    

}
.forenquiry2{
    height: 400px;
    
    float: left;

}
.forenquiry3{
    height: 400px;
    width: 600px;
    float: right;
    background-color: #d16094;
    opacity: 0.8;
}
.forenquiry3 p{
    color: #fff;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.forenquiry3 input[type=text]{

    width: 90%;
    color:black;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    float: left;
    
}
.forenquiry3 textarea{
    width: 380px;
    height: 70px;
    font-size:15px;
     font-weight: bold;
    padding: 14px 20px;
     color:black;
      margin: 8px 0;
    border: none;
    border-radius: 4px;

}
.forenquiry3 input[type=submit]{

    background-color: #6f6bc0;
    border: 0px;
    margin-top: 10px;
    float: right;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 100px;
     border-radius: 4px;


}
.forenquiry3 input[type=submit]:hover{

    background-color: #fff;
    color : #6f6bc0;

}
.cw-section3{
    height: 500px;   
    float: left;
    width: 100%;

}
.cwsec-content2{
    height: 400px;
   
    
}
.cwsec-content2-1{
    
    height: 80%;
    width: 50%;
    margin-left: 20px;
    float: left;
    border-left:  5px solid #d16094;
    
    


}
.cwsec-content2-1 p{
    margin-top: 0px;
    font-size: 25px;
    
    color: #6f6bc0;

}

.cwsec-content2-1 ul {
 
    list-style-type: none;   
}
.cwsec-content2-2{

width: 46%;
height: 80%;
float: left;
border-right:  5px solid #d16094;

}
.cwsec-content2-2 p{
    font-family: urdufont;
    font-size: 30px;
    margin-top: 0px;
    color: #6f6bc0;
    text-align: right;
    margin-right: 30px;


}

.cwsec-content2-2 li  {
 
    list-style-type: none;
    text-align: right;
      
}
.cw-section4{
    
    height: 500px;
    width: 100%;
    float: left;
     background-image: url("../images/work.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.howwework{
  height: 70%;
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    border-left:  5px solid #d16094;
    

}
.footer-wrapper{
   
    width:100%;
    height: 450px;
    background-color: #6f6bc0;
    float: left;
    
}
.footer-wrapper-content{

    width: 100%;
    height: 300px;
 
    float: left;

    margin-top: 30px;
}
.footer-wc{

    width: 360px;
    height: 100%;
    float: left;
    margin-left: 40px;
}
.footer-wc img{
    width: 300px;
    height: 120px;
    margin-top: 25px;
}
.footer-wc p{
    color: #fff;
    font-family: urdufont;
    font-size: 25px;
    
}
.footer-wc h1{
    color: #fff;
    font-family: urdufont;
    font-size: 45px;
}
.footer-wc i {
    color: white;
}
.footer-wc a{
     color: #fff;
    font-family: urdufont;
    font-size: 25px;
    text-decoration: none;
    margin-left: 10px;
}
.footer-wc-improve{

    width: 250px;
    margin-left: 70px;
}
.copyright-content{

    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 25px;
   
    float: left;


    

}
.copyright-content p{

    font-family: urdufont;
    color: #fff;
    margin-top: 40px;
    

    
}
.copyright-content a{

    text-decoration: none;
    color: #191919;


}



















