@charset "utf-8";
/* CSS Document */

body{

    margin: 0px;
    padding: 0px;
}
.main-div{
    width:  1600px;
    float: left;
}
.header-main{

    height:  150px;

}
.header-wrapper1{
    height: 50px;
    background-color: #6f6bc0;
}
.hw-div1{
    width: 500px;
    float: left;

}

.header-wrapper2{
    height: 100px;
}
.logo-main{
    height: 90px;
    margin-left: 30px;
    
}
 .hw-div2 a{
    text-decoration:  none;
    color: #d16094;
    font-size: 25px;
    font-family:  'Times New Roman', Times, serif;
}
.hw-div2 a:hover{
     color: #6f6bc0;
     text-decoration: underline;
     text-decoration-color: #d16094;
    
   
}
.hw-div2 ul{
    list-style-type:none;
    
}
.hw-div2 ul li{
    display: inline;
}
.hw-div2 li{
   float: left;
   padding:  10px;
   margin-top: 20px;
   margin-left: 10px;
   
}





